<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="logo_valores.png" type="image/x-icon">
    <style>
    .spinner {
        height: 75px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        font-family: monospace;
        letter-spacing: 1em;
        color: #0F3B67;
        filter: drop-shadow(0 0 10px);
        display: flex;
        justify-content: center;
        align-items: center;
       }
       
       .spinner span {
        animation: loading6454 1.75s ease infinite;
       }
       
       .spinner span:nth-child(2) {
        animation-delay: 0.25s;
       }
       
       .spinner span:nth-child(3) {
        animation-delay: 0.5s;
       }
       
       .spinner span:nth-child(4) {
        animation-delay: 0.75s;
       }
       
       .spinner span:nth-child(5) {
        animation-delay: 1s;
       }
       
       .spinner span:nth-child(6) {
        animation-delay: 1.25s;
       }
       
       .spinner span:nth-child(7) {
        animation-delay: 1.5s;
       }
       
       @keyframes loading6454 {
        0%, 100% {
         transform: translateY(0);
        }
       
        50% {
         transform: translateY(-10px);
        }
       }</style>
</head>
<body class="flex flex-col md:flex-row h-screen w-screen">

    <div class="md:hidden flex items-center justify-between text-white py-4 px-6" style="background-color: #0F3B67;">
        <button id="hamburgerBtn" class="text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <div id="sidebar" class=" z-10 text-white w-64 space-y-6 pl-4 pr-4 py-7 px-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out" style="background-color: #0F3B67;">
        <button id="closeBtn" class="absolute top-0 right-0 mt-4 mr-4 text-white focus:outline-none md:hidden">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <h1 class="text-base font-semibold">Gostaria de explorar mais sobre nossos valores?</h1>
        <p class="text-sm text-gray-400">Veja mais detalhes abaixo</p>

        <nav>
            <a href="../static/pdf/humildade.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #189ECB;">HUMILDADE</button></a>
            <a href="../static/pdf/atitude-de-dono.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #168DBF;">ATITUDE DE DONO</button></a>
            <a href="../static/pdf/determinação.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #8AC468;">DETERMINAÇÃO</button></a>
            <a href="../static/pdf/disciplina.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #E38D38;">DISCIPLINA</button></a>
            <a href="../static/pdf/disponibilidade.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #E86338;">DISPONIBILIDADE</button></a>
            <a href="../static/pdf/simplicidade.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #41995A;">SIMPLICIDADE</button></a>
            <a href="../static/pdf/franqueza.pdf"><button class="w-full text-center px-4 py-2 mt-2 rounded-md" style="background-color: #D01F29;">FRANQUEZA</button></a>
        </nav>
    </div>


    <div class="flex-1 flex flex-col">
        <div id="chatBox" class="flex-1 overflow-y-auto p-4 relative">
            <!-- Mensagem do chat aparece aqui -->
            <p class="bg-green-400 text-white text-left rounded-lg rounded-tl-none p-2 m-2 inline-block hidden">{{ variavel_frontend }}</p>
        
        </div>

        <div id="loanding_container">
            <div class="spinner min-h-12">
                <span>C</span>
                <span>A</span>
                <span>R</span>
                <span>E</span>
                <span>G</span>
                <span>A</span>
                <span>N</span>
                <span>D</span>
                <span>O</span>
              </div>
        </div>

        <form id="messageForm" action="/submit" method="post" onsubmit="sendMessage(event)">
            <div class="border-gray-200 p-6 pb-8">
                <div class="flex items-center justify-between">
                    <input type="text" id="messageInput" name="inputMessage" class="flex-1 p-2 rounded-l-lg border-2 border-r-0 border-gray-300" placeholder="Escreva sua mensagem aqui...">
                    <input type="button" value="Enviar" id="sendMessageButton" class="bg-blue-100 border-2 border-blue-400 hover:bg-blue-200 text-blue-400 font-bold py-2 px-4 rounded-r-lg">

                </div>
            </div>
        </form>
        
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("loanding_container").style.display = "none";
    });

    function toggleSpinnerVisibility() {
        var spinner = document.getElementById("loanding_container");
        if (spinner.style.display === "none") {
            spinner.style.display = "flex";
        } else {
            spinner.style.display = "none";
        }
    }

    document.getElementById("sendMessageButton").addEventListener("click", function(event) {
        toggleSpinnerVisibility(); 
        sendMessage(event);
    });

    document.getElementById("messageInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            toggleSpinnerVisibility(); 
            sendMessage(event);
        }
    });

    function sendMessage(event) {
        event.preventDefault(); 
        var inputMessage = document.getElementById("messageInput").value;
        if (!inputMessage) {
            return; 
        }

        document.getElementById("loanding_container").style.display = "flex";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/submit", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.responseType = 'json'; 

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("loanding_container").style.display = "none";

                addMessageToChatBox("user", inputMessage);

                var resposta = xhr.response.resposta; 
                addMessageToChatBox("server", resposta);

                document.getElementById("messageInput").value = "";
            }
        };

        xhr.send("inputMessage=" + encodeURIComponent(inputMessage));
    }

    document.getElementById("sendMessageButton").addEventListener("click", sendMessage);


    document.getElementById("hamburgerBtn").addEventListener("click", function() {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("-translate-x-full");
    });

    document.getElementById("closeBtn").addEventListener("click", function() {
        document.getElementById("sidebar").classList.add("-translate-x-ful  l");
    });

    document.addEventListener("click", function(event) {
        var sidebar = document.getElementById("sidebar");
        var hamburgerBtn = document.getElementById("hamburgerBtn");
        if (!sidebar.contains(event.target) && !hamburgerBtn.contains(event.target)) {
            sidebar.classList.add("-translate-x-full");
        }
    });

    document.getElementById("sidebar").addEventListener("click", function(event) {
        event.stopPropagation();
    });

    function addMessageToChatBox(sender, message) {
        var chatBox = document.getElementById("chatBox");
        var messageDiv = document.createElement("div");
        var messageContent = document.createElement("div");
        messageContent.innerHTML = message.replace(/\n/g, '<br>');
        messageDiv.appendChild(messageContent);

        if (sender === "user") {
            messageContent.className = "bg-gray-300 text-black text-right rounded-lg rounded-tr-none p-2 m-2 inline-block";
            messageDiv.className = "text-right";
        } else {
            messageContent.className = "bg-gray-100 text-black text-left rounded-lg rounded-tl-none p-2 m-2 inline-block";
            messageDiv.className = "text-left";
        }
        chatBox.appendChild(messageDiv);
        chatBox.scrollTop = chatBox.scrollHeight;
    }

</script>
</body>
</html>